/node_modules
/public/upload/*
!/public/upload/.gitkeep
/public/.well-known
/yarn-error.log
/.idea
/.env

###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
