/node_modules
/public/tmp/*
!/public/tmp/.gitkeep
/public/.well-known
/yarn-error.log
/.idea
/.env

###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
