{% extends 'base.html.twig' %}

{% block title %}Database{% endblock %}

{% block body %}
    <div class="container box-blue">
        <div class="row">
            <div class="col-12">
                <h5>Database</h5>

                <p>
                    {{ message }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
