{% extends 'base.html.twig' %}

{% block title %}Mail test{% endblock %}

{% block body %}
    <h1 class="text-effect-3d">Mail test</h1>
    {% include 'flashes.html.twig' %}

    <div class="container box-blue">
        <div class="row">
            <div class="col-12">
                <h5>E-Mail test</h5>
                <p>
                    <a href="{{ path('mail_php') }}" class="btn2 btn-orange">Send PHP Mail</a>
                    <a href="{{ path('mail_smtp') }}" class="btn2 btn-orange">Send SMTP Mail</a>
                </p>

                SendMail Path: {{ sendmailPath }}<br/>
            </div>
        </div>
    </div>
{% endblock %}
