{% extends 'base.html.twig' %}

{% block title %}PHP Info{% endblock %}

{% block body %}
    <h1 class="text-effect-3d">PHP Info</h1>
    <div class="phpInfo">
        {{ buffer|raw }}
    </div>
{% endblock %}
