{% extends 'base.html.twig' %}

{% block title %}Test website{% endblock %}

{% block body %}
    <h1 class="text-effect-3d">Test website</h1>
    <div class="container box-blue">
        <div class="row">
            <div class="col-12 mb-4">
                <h5>Short info</h5>
                {% include 'utility/tableKeyValue.html.twig' with {'table': shortInfo} %}
            </div>
            <div class="col-12 mb-4">
                <h5>PHP INI Changes</h5>
                {% include 'utility/tableKeyValue.html.twig' with {'table': phpIniChanges, 'header': phpIniChangesHeader} %}
            </div>
            <div class="col-12 mb-4">
                <h5>PHP 5 INI Changes</h5>
                {% include 'utility/tableKeyValue.html.twig' with {'table': php5iniChanges} %}
            </div>
            <div class="col-12">
                <h5>PHP Methods</h5>
                {% include 'utility/tableKeyValue.html.twig' with {'table': phpMethods} %}
                <p class="text-muted">
                    <i>Note: Only GraphicMagick or ImageMagick can be active.</i>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
