body {
    margin: 70px 0 0 0;
    color: #000000;
    background-color: #A0DDFE;
}



/* Navigation */
.navigation {
    position: fixed;
    top: 0; left: 0;
    z-index: 1;
    width: 100%;

    margin: 0px 0px 5px 0px;
    padding: 2px 3px 2px 3px;
    border-bottom: 1px solid #0099CC;
    background-color: #82D0FF;
}



/* Alert */
.alert {
    background-color: #FFFFFF;
    border: 1px solid #0099CC;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 30px auto 0 auto;
    padding: 10px;
    width: 920px;
    border-radius: 8px;
}

.alert h2 {
    border-bottom: 1px solid #A0DDFE;
    color: #0099CC;
    font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    text-transform: none;
}
.alert :last-child {
    margin-bottom: 0;
}

/* Button Blue */
.button-blue:link,
.button-blue {
    display: inline-block;
    -moz-border-radius: .25em;
    border-radius: .25em;
    -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.2);
    background-color: #276195;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#3c88cc),to(#276195));
    background-image: -moz-linear-gradient(#3c88cc,#276195);
    background-image: -ms-linear-gradient(#3c88cc,#276195);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3c88cc),color-stop(100%,#276195));
    background-image: -webkit-linear-gradient(#3c88cc,#276195);
    background-image: -o-linear-gradient(#3c88cc,#276195);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c88cc',endColorstr='#276195',GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c88cc', endColorstr='#276195', GradientType=0)";
    background-image: linear-gradient(#3c88cc,#276195);
    border: 0;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
    min-width: 100px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.35);
    font-family: Arial, Tahoma, sans-serif;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -o-transition: all linear .2s;
    -ms-transition: all linear .2s;
    transition: all linear .2s
}
.button-blue:hover, .button-blue:focus {
    -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.3), inset 0 12px 20px 2px #3089d8;
    -moz-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.3), inset 0 12px 20px 2px #3089d8;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.3), inset 0 12px 20px 2px #3089d8;
}
.button-blue:active {
    -webkit-box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2), inset 0 12px 20px 6px rgba(0,0,0,0.2), inset 0 0 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2), inset 0 12px 20px 6px rgba(0,0,0,0.2), inset 0 0 2px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2), inset 0 12px 20px 6px rgba(0,0,0,0.2), inset 0 0 2px 2px rgba(0,0,0,0.3);
}

/* Button Green */
.button-green:link,
.button-green {
    display: inline-block;
    -moz-border-radius: .25em;
    border-radius: .25em;
    -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.2);
    background-color: #659324;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#81bc2e),to(#659324));
    background-image: -moz-linear-gradient(#81bc2e,#659324);
    background-image: -ms-linear-gradient(#81bc2e,#659324);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#81bc2e),color-stop(100%,#659324));
    background-image: -webkit-linear-gradient(#81bc2e,#659324);
    background-image: -o-linear-gradient(#81bc2e,#659324);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#81bc2e',endColorstr='#659324',GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#81bc2e', endColorstr='#659324', GradientType=0)";
    background-image: linear-gradient(#81bc2e,#659324);
    border: 0;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
    min-width: 100px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.35);
    font-family: Arial, Tahoma, sans-serif;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -o-transition: all linear .2s;
    -ms-transition: all linear .2s;
    transition: all linear .2s;
}
.button-green:hover, .button-green:focus {
    -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.3), inset 0 12px 20px 2px #85ca26;
    -moz-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.3), inset 0 12px 20px 2px #85ca26;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.3), inset 0 12px 20px 2px #85ca26;
}
.button-green:active {
    -webkit-box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2), inset 0 12px 20px 6px rgba(0,0,0,0.2), inset 0 0 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2), inset 0 12px 20px 6px rgba(0,0,0,0.2), inset 0 0 2px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2), inset 0 12px 20px 6px rgba(0,0,0,0.2), inset 0 0 2px 2px rgba(0,0,0,0.3);
}

.btn,
.btn:link {
    display: inline-block;
    -moz-border-radius: .25em;
    border-radius: .25em;
    -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.2);
    border: 0;
    outline: none;
    cursor: pointer;

    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
    min-width: 100px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.35);
    font-family: Arial, Tahoma, sans-serif;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -o-transition: all linear .2s;
    -ms-transition: all linear .2s;
    transition: all linear .2s;

    background-color: #eeeeee;
    color: #666666;
}
.btn:hover,
.btn:focus {
    background-color: #fbfbfb;
}

.btn-blue,
.btn-blue:link {
    background-color: #00a1cb;
    color: #ffffff;
}
.btn-blue:hover,
.btn-blue:focus {
    background-color: #00b5e5;
}

.btn-green,
.btn-green:link {
    background-color: #7db500;
    color: #ffffff;
}
.btn-green:hover,
.btn-green:focus {
    background-color: #8fcf00;
}

.btn-orange,
.btn-orange:link {
    background-color: #f18d05;
    color: #ffffff;
}
.btn-orange:hover,
.btn-orange:focus {
    background-color: #fa9915;
}

.btn-red,
.btn-red:link {
    background-color: #e54028;
    color: #ffffff;
}
.btn-red:hover,
.btn-red:focus {
    background-color: #e8543f;
}

.btn-purple,
.btn-purple:link {
    background-color: #87318c;
    color: #ffffff;
}
.btn-purple:hover,
.btn-purple:focus {
    background-color: #99389f;
}
